body {
    background-image: url("../images/freeport.png");
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}

p {
  white-space: pre-wrap;
}
  
h1 {
  text-align: center;
}

h2 {
  color: #fff;
  font-size: 48px;
  text-align: center;
}
  
h4 {
  color: #838383;
}
  
hr {
  width: 30%;
}
  
img {
  border-radius: 5px;
}
  
nav {
  background-color: #112d4e;
}
  
a {
  color: #000;
}
  
.container {
  padding-top: 15px;
}
  
.property {
  max-width: 100%;
  height: 400px;
  border: 2px solid;
}
  
.col-lg-4 {
  text-align: center;
}
  
.descCard {
  background-color: #fff;
  border-radius: 5px;
  border: 2px solid;
  padding: 10px;
  margin: auto 20px;
}
  
.col-lg-6 {
  text-align: center;
}
  
.navbar-brand {
  font-weight: bold;
}
  
.centerCard {
  background-color: #fff;
  border-radius: 20px;
  margin: 200px auto;
  padding: 10px;
  text-align: center;
  border: 2px solid;
}
  
.row {
  padding-top: 15px;
  padding-bottom: 40px;
}
  
.property:hover {
  opacity: 85%;
}
  
#contactInfo {
  text-align: left;
}
  
.propertyPageImg {
  height: 500px;
  width: 650px;
  border: 2px solid;
}

.propertyPageText {
  text-align: left;
  margin-left: 10px;
}

.propertiesStyle {
  background-color: #07689f;
}

.propertyTitle {
  color: #fff;
  font-size: 24px;
}

.leaflet-container {
  width: 100%;
  height: 500px;
}